@model SimpleBlog.Areas.Admin.ViewModels.PostIndex

@{
    ViewBag.Title = "Index";
}

<h2>Posts</h2>

<p>
	<a href="@Url.Action(actionName: "Create")" class="btn btn-default">Create a post</a>
</p>

<table class="table table-bordered">
	<thead>
	<tr>
		<th>Title</th>
		<th>Tags</th>
		<th>Content</th>
		<th>Author</th>
		<th>Date Created</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>

	@foreach (var post in Model.Posts)
	{
		<tr class="@(post.IsDeleted ? "danger" : "")">
			<td>@post.Title</td>
			<td>@String.Join(separator: ", ", values: post.Tags.Select(selector: tag => tag.Name))</td>
			<td>@Html.Raw(value: post.Description)</td>
			<td>@(post.Author == null ? "Unknown" : post.Author.UserName)</td>
			<td>@post.DatePosted</td>
			<td>
				<a href="@Url.Action(actionName: "Edit", routeValues: new { post.Id })">Edit</a> |
				@if (post.IsDeleted)
				{
				<a data-confirm="" href="@Url.Action(actionName: "Recover", routeValues: new { post.Id })" class="text-danger">Recover</a>
				}
				else
				{
				<a data-confirm="Are you sure you want to delete: @post.Title" href="@Url.Action(actionName: "Delete", routeValues: new { post.Id })" class="text-danger">Delete</a>
				}
			</td>
		</tr>
	}
	</tbody>
</table>

<nav>
	<ul class="pager">
		@if (Model.Posts.HasPreviousPage)
		{
		<li class="previous">
			<a href="@Url.Action(actionName: "Index", routeValues: new {pageNumber = Model.Posts.PreviousPage})">
				<span aria-hidden="true">&larr;</span> Previous
			</a>
		</li>
		}
		else
		{
		<li class="previous disabled">
			<a href="#">
				<span aria-hidden="true">&larr;</span> Previous
			</a>
		</li>
		}

		@if (Model.Posts.HasNextPage)
		{
		<li class="next">
			<a href="@Url.Action(actionName: "Index", routeValues: new {pageNumber = Model.Posts.NextPage})">
				Next <span aria-hidden="true">&rarr;</span>
			</a>
		</li>
		}
		else
		{
		<li class="next disabled">
			<a href="#">
				Next <span aria-hidden="true">&rarr;</span>
			</a>
		</li>
		}
	</ul>
</nav>

@section Scripts
{
	<script type="text/javascript" src="~/Scripts/PostConfirm.js"></script>
}